<div class="hero-head">
  <nav class="navbar is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger {{isActiveClass}}" data-target="navbarMenu" onclick={{action "showMenu"}}>
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu {{isActiveClass}}">
        <div class="navbar-end">
          {{#with (find-by 'url' "/" model) as |link|}}
            {{link-to "Overview" "index" class="navbar-item" activeClass="is-active"}}
          {{/with}}

          {{#each (sort-by 'index' (reject-by 'excludeNav' model)) as |content|}}
            {{link-to content.linkName "content" content.url class="navbar-item" activeClass="is-active"}}
          {{/each}}
          {{#link-to "content" content.url class="navbar-item" activeClass="is-active"}}<strong>Playground</strong>
          {{/link-to}}
        </div>
      </div>
    </div>
  </nav>
</div>
